.background{
    background-image: url(../../Pictures/backgrounddiets.jpg) ;
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
    /* height: 100vh; */


    
}
.showdiets{
    
    display: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 100px 30px 100px;
      
}
.cardscontainer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px ;
    margin: 15px;
    width: 1100px;
    height: 150px;
    border-radius: 30px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.65);
    border: 1px solid #000;
    box-shadow: 0px 1px 10px rgb(0,0,0,0.2);
    transition: all 350ms linear;


}

.cardscontainer:hover {
    box-shadow: 5px 5px 20px rgb(0,0,0,0.6);
    background-color: rgba(255, 255, 255);
}

.name{
    padding: 15px;
    width: 200px !important;
    height: 70px;
    text-align: center;
    border: 1px solid rgb(33, 75, 30);
    color:rgb(37, 131, 30);
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center !important;
    font-family: 'Arima', cursive;
    font-weight: 600;
    
    

}

.information{
    text-align: center;
    font-size: 15px;
    width: 900px;
    font-family: 'Arima', cursive;
    font-weight: 600;


}