.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #6ab04c;
    
    height: 50px;
    width: 100%;
    text-decoration: none;
}

.dietcreat{
    display:flex;
    justify-content: space-between;
}
.links {
    text-decoration: none;
    color: rgb(13, 58, 27);
    font-family: 'Arima', cursive;
    font-weight: 800;
    font-size: 30px;
    margin: 25px 30px 25px 30px;
    height: 50px;
    width: 100px;
    margin-left: 75px;
    margin-right: 8px;
    padding: 0px ;
    
    transition: color 500ms ease;

}
.linksdietcreat{
    text-decoration: none;
    color: rgb(13, 58, 27);
    font-family: 'Arima', cursive;
    font-weight: 700;
    font-size: 25px;
    height: 50px;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 50px;
    padding: 0px ;
    
    transition: color 500ms ease;
}

.linksland{
    text-decoration: none;
    color: rgb(13, 58, 27);
    font-family: 'Arima', cursive;
    font-weight: 800;
    font-size: 30px;
    margin: 25px 30px 25px 10px;
    height: 50px;
    width: 100px;
    margin-left: 20px;
    margin-right: 8px;
    padding: 0px ;
    
    transition: color 500ms ease;

}

.links:hover{
    color: aliceblue;
}
.linksdietcreat:hover{
    color: aliceblue;
}

.linksland:hover{
    color: rgb(179, 255, 173);
}



